body{
    background-color: aqua;
}
h1{
    text-align: center;
}
h3{
    font-style: oblique;
    color: darkcyan;
}

ul{
    background-color: brown;
    color: blue;
}

ol{
    background-color: green;
    color: yellow;
}